@import "tailwindcss";

@layer utilities {
  .thin-scrollbar {
    scrollbar-width: thin;
  }
  .thin-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #9ca3afc9; /* gray-400 */
    border-radius: 2px;
  }
  .thin-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* 深色模式版本 */
  .dark .thin-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #4b5563b7; /* gray-600 */
  }
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  font-family: PingFang SC, BlinkMacSystemFont, "alipuhui", "微软雅黑", Roboto,
    Helvetica Neue, sans-serif !important;
  overflow: hidden;
  -ms-overflow-style: none;
}
