@import "tailwindcss";

@layer base {
  :root {
    /* 更鲜艳的颜色方案 */
    --plan-planned: #616161;
    --plan-upcoming: #ffd700;
    --plan-in-progress: #4caf50;
    --plan-completed: #2196f3;
    --plan-expired: #ff5252;
    --plan-cancelled: #b0b0b0;
    --plan-deleted: #B71C1C;
    --plan-priority-low: #689f38;
    --plan-priority-medium: #ff9800;
    --plan-priority-high: #d32f2f;
  }
}

@config "../../tailwind.config.js";

@layer utilities {
  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #9ca3afc9 transparent; /* thumb color and transparent track */
  }
  .thin-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #9ca3afc9; /* gray-400 */
    border-radius: 2px;
  }
  .thin-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .thin-scrollbar::-webkit-scrollbar-button {
    display: none; /* 隐藏上下的小箭头按钮 */
  }

  /* 深色模式版本 */
  .dark .thin-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #4b5563b7; /* gray-600 */
  }
  .dark .thin-scrollbar-dark::-webkit-scrollbar-button {
    display: none;
  }
}

@font-face {
  font-family: "alipuhui";
  src: url("../assets/font/alipuhui.otf");
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  font-family: PingFang SC, BlinkMacSystemFont, "alipuhui", "微软雅黑", Roboto,
    Helvetica Neue, sans-serif !important;
  overflow: hidden;
  -ms-overflow-style: none;
}
